@model Company

<div class="card shadow border-0 my-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white">@(Model.Id!=0?"Update":"Create") Company</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4 shadow">
		<form method="post" class="row" enctype="multipart/form-data">
			<input asp-for="Id" hidden />
			<div class="row">
				<div class="col-12">
					<div class="border p-3 mt-4">
						<div class="mt-3">
							<label asp-for="Name"></label>
							<input asp-for="Name" class="form-control" />
							<span asp-validation-for="Name" class="text-danger"></span>
						</div>
						
						<div class="mt-3">
							<label asp-for="PhoneNumber"></label>
							<input asp-for="PhoneNumber" class="form-control" />
							<span asp-validation-for="PhoneNumber" class="text-danger"></span>
						</div>

						<div class="mt-3">
							<label asp-for="StreetAddress"></label>
							<input asp-for="StreetAddress" class="form-control" />
							<span asp-validation-for="StreetAddress" class="text-danger"></span>
						</div>
						<div class="mt-3">
							<label asp-for="City"></label>
							<input asp-for="City" class="form-control" />
							<span asp-validation-for="City" class="text-danger"></span>
						</div>
						<div class="mt-3">
							<label asp-for="State"></label>
							<input asp-for="State" class="form-control" />
							<span asp-validation-for="State" class="text-danger"></span>
						</div>
						<div class="mt-3">
							<label asp-for="PostalCode"></label>
							<input asp-for="PostalCode" class="form-control" />
							<span asp-validation-for="PostalCode" class="text-danger"></span>
						</div>
						

						<div class="row">
							<div class="col-6">
								@if (Model.Id != 0)
								{
									<button type="submit" class="btn btn-primary" style="width:150px">Update</button>
								}
								else
								{
									<button type="submit" class="btn btn-primary" style="width:150px">Create</button>

								}
							</div>
							<div class="col-6">
								<button asp-controller="Company" asp-action="Index" class="btn btn-secondary" style="width:150px">Back To List</button>
							</div>
						</div>

					</div>
				</div>
				
			</div>
		
		</form>
	</div>
</div>



@section Scripts{
	<script>
		tinymce.init({
			selector: 'textarea',
			plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
			toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
			tinycomments_mode: 'embedded',
			tinycomments_author: 'Author name',
			mergetags_list: [
				{ value: 'First.Name', title: 'First Name' },
				{ value: 'Email', title: 'Email' },
			],
			ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
		});
	</script>
	@{
	<partial name="_ValidationScriptsPartial"/>
	}
}