@model ProductVM

<div class="card shadow border-0 my-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white">@(Model.Product.Id!=0?"Update":"Create") Product</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4 shadow">
		<form method="post" class="row" enctype="multipart/form-data">
			<input asp-for="Product.Id" hidden />
			<div class="row">
				<div class="col-10">
					<div class="border p-3 mt-4">
						<div class="mt-3">
							<label asp-for="Product.Title"></label>
							<input asp-for="Product.Title" class="form-control" />
							<span asp-validation-for="Product.Title" class="text-danger"></span>
						</div>
						<div class="mt-3">
							<label asp-for="Product.Description"></label>
							<textarea asp-for="Product.Description" class="form-control"></textarea>


						</div>
						<div class="mt-3">
							<label asp-for="Product.ISBN"></label>
							<input asp-for="Product.ISBN" class="form-control" />
							<span asp-validation-for="Product.ISBN" class="text-danger"></span>
						</div>

						<div class="mt-3">
							<label asp-for="Product.Author"></label>
							<input asp-for="Product.Author" class="form-control" />
							<span asp-validation-for="Product.Author" class="text-danger"></span>
						</div>
						<div class="mt-3">
							<label asp-for="Product.ListPrice"></label>
							<input asp-for="Product.ListPrice" class="form-control" />
							<span asp-validation-for="Product.ListPrice" class="text-danger"></span>
						</div>
						<div class="mt-3">
							<label asp-for="Product.Price"></label>
							<input asp-for="Product.Price" class="form-control" />
							<span asp-validation-for="Product.Price" class="text-danger"></span>
						</div>
						<div class="mt-3">
							<label asp-for="Product.Price50"></label>
							<input asp-for="Product.Price50" class="form-control" />
							<span asp-validation-for="Product.Price50" class="text-danger"></span>
						</div>
						<div class="mt-3">
							<label asp-for="Product.Price100"></label>
							<input asp-for="Product.Price100" class="form-control" />
							<span asp-validation-for="Product.Price100" class="text-danger"></span>
						</div>
						<div class="mt-3">
							<select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
								<option disabled selected>--Select Category--</option>
							</select>
							<span asp-validation-for="Product.CategoryId" class="text-danger"></span>
						</div>
						<div class="mt-3">
							<input type="file" name="files" class="form-control" multiple />
							 <label asp-for="Product.ProductImages"></label> 

						</div>

						<div class="row">
							<div class="col-6">
								@if (Model.Product.Id != 0)
								{
									<button type="submit" class="btn btn-primary" style="width:150px">Update</button>
								}
								else
								{
									<button type="submit" class="btn btn-primary" style="width:150px">Create</button>

								}
							</div>
							<div class="col-6">
								<button asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">Back To List</button>
							</div>
						</div>

					</div>
				</div>
				<div class="col-2">
					@if (Model.Product.ProductImages != null)
					{
						foreach(var image in Model.Product.ProductImages)
						{
							<div class="border p-1 m-2 text-center">
								<img src="@image.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9"/>
								<a asp-action="DeleteImage" class="btn btn-danger" asp-route-imageId="@image.Id">
									<i class="bi bi-trash-fill"></i> Delete
								</a>
							</div>
						}
					}
					style="border-radius:5px;border:1px solid #bbb9b9"/>
				</div>
			</div>
		
		</form>
	</div>
</div>



@section Scripts{
	<script>
		tinymce.init({
			selector: 'textarea',
			plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
			toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
			tinycomments_mode: 'embedded',
			tinycomments_author: 'Author name',
			mergetags_list: [
				{ value: 'First.Name', title: 'First Name' },
				{ value: 'Email', title: 'Email' },
			],
			ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
		});
	</script>
	@{
	<partial name="_ValidationScriptsPartial"/>
	}
}